* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: midnightblue;
}

.Logo-Head {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.Logo {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 70px;
}

.Logo-subtitle {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 40px;
}

.List-Items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
  list-style: none;
}
.Home {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.Home:hover {
  color: grey;
}

.About {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.About:hover {
  color: grey;
}

.Contact {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.Contact:hover {
  color: grey;
}

.achtergrond-co {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.achtergrond {
  width: 90%;
  height: 800px;
  padding-top: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  height: 100vh;
  width: 90%;
  background-color: maroon;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.Text1 {
  position: relative;
  top: 310px;
  left: 250px;
}

.Text2 {
  position: relative;
  top: 275px;
  left: 1220px;
}

.Text3 {
  position: relative;
  top: 770px;
  left: 1360px;
}

.Text4 {
  position: relative;
  top: 735px;
  left: 365px;
}

.Border-text1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}

.Border-text2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
  font-size: 30px;
}

.Border-text3 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 30px;
}

.Border-text4 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 30px;
}

.grid-container div {
  border: 4px solid black;
  border-radius: 10px;
}
iframe {
  height: 394px;
  width: 700px;
}

.Box-1 {
  margin-top: 100px;
  height: 394px;
  width: 700px;
  grid-column: 1/2;
  grid-row: 1/1;
}

.Box-2 {
  margin-top: 100px;
  height: 394px;
  width: 700px;
  grid-column: 3/3;
  grid-row: 1/1;
}

.Box-3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-align: left;
  grid-column: 1/2;
  grid-row: 2/2;
  height: 200px;
  width: 500px;
  margin-left: 100px;
}

.Box-4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  text-align: left;
  text-align: start;
  grid-column: 3/4;
  grid-row: 3/2;
  height: 200px;
  width: 500px;
  margin-left: 100px;
}

footer {
  background-color: black;
  width: 100%;
  height: 250px;
}

.co1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bolder;
}

@media (max-width: 500px) {
  body {
    background-color: maroon;
  }

  .grid-container {
    background-color: midnightblue;
  }

  .achtergrond {
    width: 90%;
    height: 400px;
  }

  .Home:hover {
    color: orange;
  }

  .About:hover {
    color: orange;
  }

  .Contact:hover {
    color: orange;
  }
}
